.govuk-error-summary__list li { color: #d4351c; font-weight: bold; }
h2.govuk-details__summary-text { font-size: 1.2rem; font-weight: normal; display: inline; margin: 0; padding: 0}
.nowrap { white-space: nowrap; }
.related-items { padding-top: 10px; border-top:  2px solid #1d70b8 }
#js-results-table { font-family: GDS Transport,arial,sans-serif;}
