#pagination ul { display: inline-block; vertical-align: middle; list-style:  none; margin:  50px 0; text-align: justify;}
#pagination li { display: inline-block; }
#pagination li.pag-prev a:before, #pagination li.pag-next a:after { display: inline-block; height: 10px; width: 10px; border-style: solid; color: #0b0c0c; background: transparent; -webkit-transform: rotate(
-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); content: ""; }
#pagination li.pag-prev a:before { border-width: 3px 0 0 3px; margin-right: 5px; }
#pagination li.pag-next a:after { border-width: 0 3px 3px 0;margin-left: 5px; }
#pagination a { min-width: 1.5em; margin: 0 10px; padding: 5px; }
#pagination a.govuk-link[aria-current="true"]  { text-decoration: none; color: #0b0c0c; font-weight: bold; }
