<% content_for :page_title do %>
  <%= t('page_title.upload') %>
<% end %>

<%= button_to("Log out", "/logout", class: "govuk-back-link", method: :delete) %>

<h1 class="govuk-heading-xl">Upload CSV</h1>
